* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f5f7fa;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 40px;
}

.container {
  background: white;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  gap: 10px;
  margin-bottom: 20px;
margin-left: 28px;
}

.input-group input {
  flex: 1;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.input-group button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 160px;
  border-radius: 60px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.input-group button:hover {
  background-color: #0056b3;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filters button {
  flex: 1;
  margin: 0 5px;
  padding: 8px 0;
  border: none;
  border-radius: 6px;
  background: #e0e0e0;
  cursor: pointer;
  transition: background 0.3s;
}

.filters button.active,
.filters button:hover {
  background: #007bff;
  color: white;
}

#taskList {
  list-style: none;
}

.info {
  margin-top: 29px;
  text-align: center;
  color: #333;
  font-size: 15px;
  font-style: italic;
}